{% extends 'main.html'%}
{% block crud_container %}
<section class="container-fluid">
    <form method="post" action="/user">
        <div class="col-auto">
            <div class="input-group mb-3">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" value="{{username}}" class="form-control"
                placeholder="Введите имя пользователя" aria-label="Add username"
                aria-describedby="button-addon2" />
                <label for="username">Возраст:</label>
                <input type="text" id="age" name="age" value="{{age}}" class="form-control"
                placeholder="Введите возраст" aria-label="Add age"
                aria-describedby="button-addon2" />
                <button class="btn btn-outline-primary" type="submit" id="button-addons2"
                        data-mdb-ripple-color = "dark">Добавить</button>
            </div>
        </div>
    </form>
</section>
    {% if user %}
        <article class="card container fluid"></article>
        <br>
        <!-- Напишите свой код здесь (Вывод свойств объекта User) -->
        <h1>ID: {{ user.id }}</h1>
        <p><strong>Name:</strong> {{ user.username }}</p>
        <p><strong>Age:</strong> {{ user.age }}</p>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <!-- Напишите свой код здесь (перебор пользователей) -->
                        {% for user in users %}
                        <li>
                            <a href="/user/{{user.id}}">{{ user.username }} - {{ user.age }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
